<div class="container">
  <h1>Welcome to {{title}}</h1>
  <app-add-keg [kegs]="kegs"></app-add-keg>
  <div class="row">
      <div *ngFor="let keg of kegs" [class]="priceCode(keg)">
        <div class="card-header">{{keg.brand}}</div>
        <div class="card-body">
          <h5 class="card-title">Name: {{keg.name}}</h5>
          <p class="card-text">Style: {{keg.style}}</p>
          <p class="card-text">Price: ${{keg.price}}</p>
          <p [class]="highABV(keg)">Alcohol Content: {{keg.alcoholContent}}% ABV</p>
          <p class="card-text" [class]="alert(keg)">Quantity Remaining: {{keg.pints}}</p>
        </div>
        <button type="button" class="btn btn-danger mb-1" (click)="editKeg(keg)">Edit Keg Info</button>
        <button type="button" class="btn btn-warning mb-1" (click)="pour(keg)" name="button">Pour A Pint</button>
      </div>

  </div>

  <div>
    <form *ngIf="display" class="center">
      <div class="form-group">
        <label>Keg:</label>
        <input type="text" class="form-control" name="name" [(ngModel)]="selectedKeg.name"/>
      </div>
      <div class="form-group">
        <label>Brand:</label>
        <input type="text" class="form-control" name="brand" [(ngModel)]="selectedKeg.brand" />
      </div>
      <div class="form-group">
        <label>Style:</label>
        <input type="text" class="form-control" name="style" [(ngModel)]="selectedKeg.style" />
      </div>
      <div class="form-group">
        <label>Alcohol Content:</label>
        <input type="text" class="form-control" name="alcohol" [(ngModel)]="selectedKeg.alcoholContent" />
      </div>
      <div class="form-group">
        <label>Price:</label>
        <input type="number" class="form-control" name="price" [(ngModel)]="selectedKeg.price" />
      </div>
      <div class="form-group">
        <label>Quantity:</label>
        <input type="text" class="form-control" name="pints" [(ngModel)]="selectedKeg.pints"/>
      </div>
      <button type='button' class="btn btn-primary" (click)="saveChanges()">
        Save
      </button>
    </form>
  </div>
</div>
