<div class="container">
  <h1>Welcome to {{title}}</h1>

  <div class="row">

      <div *ngFor="let keg of kegs" class="card col-lg-4 text-white bg-dark mb-1">
        <div class="card-header">Brand : {{keg.brand}}</div>
        <div class="card-body">
          <h5 class="card-title">{{keg.name}}</h5>
          <p class="card-text">Style: {{keg.style}}</p>
          <p class="card-text">Alcohol content: {{keg.alcoholContent}}% ABV</p>
          <p class="card-text">Quantity remaining: {{keg.pints}}</p>
        </div>
        <button type="button" class="btn btn-danger mb-1">Edit Keg Info</button>
        <button type="button" class="btn btn-warning mb-1" name="button">Pour A Pint</button>
      </div>

  </div>
  <app-add-keg [kegs]="kegs"></app-add-keg>
</div>
