<div class="container">
  <h1>Welcome to {{title}}</h1>
  <app-add-keg [kegs]="kegs"></app-add-keg>
  <h3>Filter Beers by Price</h3>
  <select class="form-control mb-2" (change)="onChange($event.target.value)">
    <option value=0>Show all beers</option>
    <option value=20>Show only beers under $20</option>
    <option value=35>Show only beers under $35</option>
    <option value=60>Show only beers under $60</option>
    <option value=90>Show only beers under $90</option>
  </select>
    <!--keg cards entry form-->
  <app-edit-keg [childKegs]="kegs" [childDisplay]="display" (editIsClicked)="editKeg($event)"></app-edit-keg>
<!--end keg card entry form-->

<!--begin keg edit entry form-->
  <div>
    <form *ngIf="display" class="center">
      <div class="form-group">
        <label>Keg:</label>
        <input type="text" class="form-control" name="name" [(ngModel)]="selectedKeg.name"/>
      </div>
      <div class="form-group">
        <label>Brand:</label>
        <input type="text" class="form-control" name="brand" [(ngModel)]="selectedKeg.brand" />
      </div>
      <div class="form-group">
        <label>Style:</label>
        <input type="text" class="form-control" name="style" [(ngModel)]="selectedKeg.style" />
      </div>
      <div class="form-group">
        <label>Alcohol Content:</label>
        <input type="text" class="form-control" name="alcohol" [(ngModel)]="selectedKeg.alcoholContent" />
      </div>
      <div class="form-group">
        <label>Price:</label>
        <input type="number" class="form-control" name="price" [(ngModel)]="selectedKeg.price" />
      </div>
      <div class="form-group">
        <label>Quantity:</label>
        <input type="text" class="form-control" name="pints" [(ngModel)]="selectedKeg.pints"/>
      </div>
      <button type='button' class="btn btn-primary" (click)="saveChanges()">
        Save
      </button>
      <button type='button' class="btn btn-primary" (click)="toggleDisplay()">
        Close
      </button>
    </form>
<!--end keg edit entry form-->
  </div>
</div>
