<div class="row">
  <div *ngFor="let keg of childKegs" [class]="priceCode(keg)">
    <div class="card-header">{{keg.brand}}</div>
    <div class="card-body">
      <h5 class="card-title">Name: {{keg.name}}</h5>
      <p class="card-text">Style: {{keg.style}}</p>
      <p class="card-text">Price: ${{keg.price}}</p>
      <p [class]="highABV(keg)">Alcohol Content: {{keg.alcoholContent}}% ABV</p>
      <p class="card-text" [class]="alert(keg)">Quantity Remaining: {{keg.pints}}</p>
    </div>
    <!-- action up -->
    <button type="button" class="btn btn-danger mb-1" (click)="editButton(keg)">Edit Keg Info</button>

    <select class="form-control mb-1" #amt>
      <option value="">Select amount</option>
      <option [value]="1">Pint</option>
      <option [value]="2">Growler</option>
      <option [value]="4">Large growler</option>
    </select>
    <!-- action up -->
    <button type="button" class="btn btn-warning mb-1" (click)="pour(keg, amt.value)" name="button">Pour</button>
  </div>
</div>
