<div class="row">
  <div *ngFor="let keg of childKegs | priceFilter:filter" [class]="priceCode(keg)">
    <div class="card-header">{{keg.brand}}</div>
    <div class="card-body">
      <h5 class="card-title">Name: {{keg.name}}</h5>
      <p class="card-text">Style: {{keg.style}}</p>
      <p class="card-text">Price: ${{keg.price}}</p>
      <p [class]="highABV(keg)">Alcohol Content: {{keg.alcoholContent}}% ABV</p>
      <p class="card-text" [class]="alert(keg)">Quantity Remaining: {{keg.pints}}</p>
    </div>
    <!-- action up -->
    <button type="button" class="btn btn-danger mb-1" (click)="editKeg(keg)">Edit Keg Info</button>

    <select class="form-control mb-1" #amt>
      <option value="">Select amount</option>
      <option [value]="1">Pint</option>
      <option [value]="2">Growler</option>
      <option [value]="4">Large growler</option>
    </select>
    <!-- action up -->
    <button type="button" class="btn btn-warning mb-1" (click)="pour(keg, amt.value)" name="button">Pour</button>
  </div>
</div>

<div>
  <form *ngIf="childDisplay" class="center">
    <div class="form-group">
      <label>Keg:</label>
      <input type="text" class="form-control" name="name" [(ngModel)]="selectedKeg.name"/>
    </div>
    <div class="form-group">
      <label>Brand:</label>
      <input type="text" class="form-control" name="brand" [(ngModel)]="selectedKeg.brand" />
    </div>
    <div class="form-group">
      <label>Style:</label>
      <input type="text" class="form-control" name="style" [(ngModel)]="selectedKeg.style" />
    </div>
    <div class="form-group">
      <label>Alcohol Content:</label>
      <input type="text" class="form-control" name="alcohol" [(ngModel)]="selectedKeg.alcoholContent" />
    </div>
    <div class="form-group">
      <label>Price:</label>
      <input type="number" class="form-control" name="price" [(ngModel)]="selectedKeg.price" />
    </div>
    <div class="form-group">
      <label>Quantity:</label>
      <input type="text" class="form-control" name="pints" [(ngModel)]="selectedKeg.pints"/>
    </div>
    <button type='button' class="btn btn-primary" (click)="saveChanges()">
      Save
    </button>
    <button type='button' class="btn btn-primary" (click)="toggle()">
      Close
    </button>
  </form>
<!--end keg edit entry form-->
</div>
